/* у меня старый мак 2010 года, разрешение экрана 1280 в ширину, по этому пришлось некоторые цифры подогнать, немного изменять, и добавить из себя ( стр 123-128) */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.header {
  padding: 15px 0;
}
.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigations-link {
  text-decoration: none;
  color: #939699;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.button {
  padding: 10px 20px;
  background: #4592FF;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.button-icon, .button-price {
  margin-right: 10px;
}
.button-icon:last-child {
  margin-right: 0;
  margin-left: 10px;
}
.slide {
  padding-top: 90px;
  margin-bottom: 110px;
  min-height: 568px;
}
.slide-1 {
  background: #B4D1E0 url(../img/slide-image-1.png) no-repeat top right;
}
.label {
  background: #3DC47E;
  border-radius: 3px;
  padding: 5px 12px;
  color: #fff;
  font-size: 16px;
  line-height: 15px;
}
.slide-title {
  color: #262D33;
  font-size: 55px;
  line-height: 70px;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-bottom: 15px;
}
.slide-description {
  font-size: 18px;
  line-height: 30px;
  color: #4B5157;
  max-width: 335px;
  margin-bottom: 40px;
}
.slider {
  position: relative;
}
.slider-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  z-index: 9;
}
.slider-button {
  background-color: transparent;
  border: none;
  cursor: pointer
}
div.col-4.offset-lg-1 {
  margin-bottom: 80px;
}
.card {
  min-height: 370px;
  border-radius: 10px;
  padding: 48px 46px 46px 80px;
}
.card-1 {
  background: #E3E2E3 url(../img/card-image-1.jpg) no-repeat top right;
  background-size: cover;
}
.card-2 {
  background: #000 url(../img/card-image-2.jpg) no-repeat top right;
  background-size: cover;
}
.card-3 {
  padding-top: 35px;
  background: #CCD5E6 url(../img/card-image-3.png) no-repeat top right 15%;
  background-size: contain;
}
.card-4 {
  background: #FF4F52 url(../img/card-image-4.png) no-repeat top right;
  background-size: contain;
  padding: 35px 0 0 25px;
  font-size: 25px;
  line-height: 30px;
}
.card-4>.card-title {
  font-size: 19px;
}
#text {
  font-size: 11px;
}
.card-title {
  color: #262D33;
  font-size: 25px;
  line-height: 30px;
  font-family: 'Roboto Slab', serif;
  max-width: 210px;
  margin: 0;
}
.card-title.large {
  max-width: 330px;
  font-size: 40px;
  line-height: 50px;
  margin-top: 30px;
  margin-bottom: 20px;

}
.card-text {
  max-width: 140px;
  color: #4B5157;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 25px;
}
.card-text.large {
  max-width: 320px;
}
.card-price {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 900;
}
.cards {
  margin-top: -70px; /*m*/
}
.text-light {
  color: #fff;
}
.section-title {
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
}
.more {
    text-decoration: none;
    color: #262D33;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
    padding: 10px;
}
.goods-card {
  position: relative;
  text-align: center;
  padding: 30px 35px 35px;
}
.goods-card .label {
  position: absolute;
  left: 18px;
  top: 18px;
}
.goods-title {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 30px;
}
.goods-price {
  color: #262D33;
  margin-top: 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 900;
}
.footer-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer {
  background-color: #8F79D4;
  padding-top: 45px;
  padding-bottom: 45px;
  color: #fff;
}
.footer-menu-item:not(:last-child) {
   margin-right: 40px;
}
.footer-menu-link {
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}
.social-link {
  text-decoration: none;
  margin-left: 15px;
}
.footer-text {
  color: #E7D9FF;
  font-size: 14px;
  line-height: 20px;
}
.footer-line {
  opacity: .5;
}
.top-link {
  text-decoration: none;
  color: #fff;
}
.top-link-text {
  margin-right: 15px;
}
.payment-logo {
  vertical-align: middle;
  margin-right: 20px;
}

@media (max-width: 1200px) {
  .slide-1 {
    background-size: cover;
  }
  .card-3 {
    background-size: cover;
  }
}
@media (max-width: 992px) {
  .slider-nav {
    display: none;
  }
  
}
@media (max-width: 576px) {
  .slide-title {
    font-size: 36px;
    line-height: 1.4;
    margin-bottom: 0;
  }
  .card {
    background-position: left top;
    padding: 20px;
    min-height: 300px;
  }
  .card-4 {
    background-position: right top;
  }
  
}